body    {
    overflow: hidden;
}

/* コントローラ全体 */
#controller {
    position: absolute;
    width: 720px;
    height: 405px;
}

/* スタートボタン */
#starts    {
    position: absolute;
    width: 720px;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#starts .start {
    position: absolute;
    width: 100px;
    height: 100px;
    filter: none;
}

/* つまみ */
#analogs    {
    position: absolute;
    width: 720px;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analog {
    position: absolute;
    width: 100px;
    height: 100px;
}

.analog .analog-detail  {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
}

#analogs .blue{
    margin-left: -600px;
}

#analogs .blue .left{
    filter: none;
}

#analogs .blue .right{
    filter: none;
}

#analogs .blue .center{
    filter: none;
}

#analogs .red{
    margin-left: 600px;
}

#analogs .red .left{
    filter: none;
}

#analogs .red .right{
    filter: none;
}

#analogs .red .center{
    filter: none;
}

/* BT */
#buttons    {
    position: absolute;
    width: 720px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: absolute;
    width: 100px;
    height: 100px;
}

#buttons .a{
    margin-left: -375px;
    filter: none;
}

#buttons .b{
    margin-left: -125px;
    filter: none;
}

#buttons .c{
    margin-left: 125px;
    filter: none;
}

#buttons .d{
    margin-left: 375px;
    filter: none;
}

/* FX */
#fxs    {
    position: absolute;
    width: 720px;
    top: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fx {
    position: absolute;
    width: 100px;
    height: 100px;
}

#fxs .left{
    margin-left: -250px;
    filter: none;
}

#fxs .right{
    margin-left: 250px;
    filter: none;
}

#error-message  {
    position: absolute;
    top: 410px;
    color: red;
}